<% js_var :root_path, root_path %>

<div id="container">

	<div id="header">
		<h1>Site Swap Game</h1>
		<p><button id="play_again">Play Again</button></p>
	</div>

	<table id="scores">
		<thead>
			<tr>
				<td>Score</td>
				<td>Time</td>
				<td>Name</td>
			</tr>
		</thead>
		<tbody>
		<% @grouped_scores.each do |score_value, scores| %>
			<% first = true %>
			<% scores.each do |score| %>
				<tr>
					<td><%= first ? score_value : '&nbsp;' %></td>
					<td><%= score.time %> sec</td>
					<td><%= score.name %></td>
				</tr>
				<% first = false %>
			<% end %>
		<% end %>
		</tbody>
	</table>

</div>
