<form id="container">
	<div id="header">
		<h1>Site Swap Game</h1>
	</div>
	
	<div id="instructions">
		<p>Goal: Find as many anagrams of the following numbers that are valid siteswaps.</p>
		<button id="new_game">New Game</button>
	</div>
	
	<h2 id="problem"></h2>
	
	<ul id="attempts">
		<li></li>
	</ul>
	
	<div id="information_widget">
		<div id="score">Score: <span class="value"></span></div>
		<div id="time_left">Time Left: <span class="value"></span></div>
		<div id="more_info"></div>
	</div>
	
</form>