<% js_var :scores_path, scores_path %>

<form id="container">
	<div id="instructions">
		<%= spreadhead 'goal' %>
		<p><button id="new_game">New Game</button> <button id="scores_button">Scores</button>
	</div>
	
	<h2 id="problem"></h2>
	
	<ul id="attempts">
		<li></li>
	</ul>
	
	<div id="information_widget">
		<div id="score">Score: <span class="value"></span></div>
		<div id="time_taken">Time: <span class="value"></span></div>
		<div id="last_score">Time at last score: <span class="value"></span></div>
		<div><button id="done">Done</button></div>
		<div id="more_info"></div>
	</div>
	
</form>